* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(248, 247, 247);
}

.header {
    background-color: transparent;
}

.container {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 80%;
    height: 550px;
    background: url('t2.webp')no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
    
}

.container .content {
    position:absolute;
    top:0;
    left: 0;
    width: 58%;
    height: 100%;
    background-color: transparent;
    padding: 100px;
    color: #071d2a;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container .log-box {
    position:absolute;
    top:0;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.logo{
    font-size: 30px;
    font-weight: bolder;
}

.text h2 {
    font-size: 40px;
    font-weight: bolder;
}

.text span {
    font-size: 25px;
    font-weight: bolder;
}

.text p{
    font-size: 16px;
    margin: 20px 0;
    font-weight: bolder;
}

.class img{
    color: white;
}

 .log-box .form {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    border-top-right-radius:30px;
    border-bottom-left-radius:30px;
    color: rgb(21, 35, 47);
 }

 .log-box .form.login{
    transform: translateX(0);
    transition: transform .6s ease;
    transition-delay: .7s;
 }

 .log-box.active .form.login{
    transform: translateX(530px);
    transition-delay: 0s;
 }

 .log-box .form.register{
    transform: translateX(530px);
    transition: transform .6s ease;
    transition-delay: 0s;
 }

 .log-box.active .form.register{
    transform: translateX(0);
    transition-delay: .7s;
 }

 .form h2{
    font-size: 32px;
    text-align: center;
 }

 .form .input{
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid  rgb(21, 35, 47);
    margin: 30px 0;
 }

 .input input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #1a1a19;
    font-weight: 600;
 }

 .input label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease;
 }

 .input input:focus~label,
 .input input:valid~label{
    top: -5px;
 }

 .input .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
 }

 .rem-for{
    font-size: 14.5px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
 }

 .rem-for label input{
    accent-color: #1a1a19;
    margin-right: 3px;
 }

 .rem-for a{
    color: #1a1a19;
    text-decoration: none;
 }

 .rem-for a:hover {
    text-decoration: underline;
 }

 .btn{
    width: 100%;
    height: 45px;
    background-color: red;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: #1a1a19;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
 }

 .form .login-register{
    font-size: 14.5px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
 }

 .login-register p a{
    color: #1a1a19;
    font-weight: 600;
    text-decoration: none;
 }

 .login-register p a:hover{
    text-decoration: underline;
 }